<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.shiro.mapper.PermissionMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, desc_, url, boss_id
    </sql>

    <!--根据roleId查询权限列表-->
    <select id="findPermissionListByRoleId" resultType="com.imooc.shiro.model.Permission" parameterType="java.lang.String">
        SELECT
            b.id id,b.name name,b.url yrl
        FROM
            role_permission a
            LEFT JOIN permission b ON a.pid = b.id
        WHERE
            a.rid = #{roleId}
    </select>

</mapper>
