<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.shiro.mapper.UserMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, salt
    </sql>

    <!--根据用户名称查询信息-->
    <select id="findByName" parameterType="java.lang.String" resultType="com.imooc.shiro.model.User">
        select id, name, password, salt from user
        where name = #{name}
    </select>

    <!--查询用户对应角色-->
    <select id="selectMaps" resultType="java.util.HashMap">
        SELECT a.id userId,a.`name` userName,a.`password`,a.salt,c.id roleId,c.`name` roleName,c.desc `desc` FROM `user` a
        LEFT JOIN user_role b ON b.uid=a.id
        LEFT JOIN role c ON b.rid=c.id
    </select>

</mapper>
